@font-face {
	font-family: 'fondeso-icons';
	src:url('fonts/fondeso-icons.eot?-bo3lpn');
	src:url('fonts/fondeso-icons.eot?#iefix-bo3lpn') format('embedded-opentype'),
		url('fonts/fondeso-icons.woff?-bo3lpn') format('woff'),
		url('fonts/fondeso-icons.ttf?-bo3lpn') format('truetype'),
		url('fonts/fondeso-icons.svg?-bo3lpn#fondeso-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'fondeso-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gear:before {
	content: "\e613";
}
.icon-print:before {
	content: "\e614";
}
.icon-power:before {
	content: "\e615";
}
.icon-trash:before {
	content: "\e616";
}
.icon-door:before {
	content: "\e617";
}
.icon-twitter:before {
	content: "\e611";
}
.icon-facebook:before {
	content: "\e612";
}
.icon-triangle:before {
	content: "\e610";
}
.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-left:before {
	content: "\e601";
}
.icon-arrow-right:before {
	content: "\e602";
}
.icon-arrow-up:before {
	content: "\e603";
}
.icon-asterisk:before {
	content: "\e604";
}
.icon-check:before {
	content: "\e605";
}
.icon-chevron-down:before {
	content: "\e606";
}
.icon-chevron-left:before {
	content: "\e607";
}
.icon-chevron-right:before {
	content: "\e608";
}
.icon-chevron-up:before {
	content: "\e609";
}
.icon-circle-o:before {
	content: "\e60a";
}
.icon-circle:before {
	content: "\e60b";
}
.icon-close:before {
	content: "\e60c";
}
.icon-info:before {
	content: "\e60d";
}
.icon-minus:before {
	content: "\e60e";
}
.icon-plus:before {
	content: "\e60f";
}
