/*------------------------------------*\
    IMPORT FONTS
\*------------------------------------*/
/**
 * Choose the fonts you will be using throughout the document.
 * Here's how it's done:
 *
@font-face {
    font-family: 'Choose a Name';
    font-style: normal;
    font-weight: 300;
    src: url('../font/font-name.ttf') format('truetype');
}
 *
 */