/*------------------------------------*\
    FORMS
\*------------------------------------*/
/**
 * Here we customize inputs.
 */

input[type=text],
input[type=tel],
input[type=number],
input[type=email],
input[type=password]{  //costumize all "texty" inputs
	font-family: inherit;
	font-size: inherit;
	line-height:18px;
	padding: 12px;
	background-color: $color__module__bg-2;
	border: none;
	max-width: 100%;
	&:hover{
		background-color: darken($color__module__bg-2, 6);
	}
}
label, .label{
	display: inline-block;
}
input.input--switch{
	width: 80px;
	height: 36px;
	z-index: 10;
	right: 0;
	@include opacity(0);
}
div.input--switch{
	display: inline-block;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	background-color: $color__module__bg-2;
	color: lighten($color__gray--medium, 20);
	border-radius: 2px;
	position: relative;
	@include animation(0.3s);
	span{
		display: inline-block;
		padding: 6px 0;
		width: 40px;
		text-align: center;
		border-radius: 2px;
		position: relative;
		z-index: 1;
		@include animation(0.5s);
		&:first-child{
			color: inherit;
		}
		&:last-child{
			color: $color__font--light;
		}
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 40px;
		width: 40px;
		height: 100%;
		border-radius: 2px;
		background-color: $color__branding;
		z-index: 0;
		@include animation(0.5s);
	}
}

input[type="checkbox"]:checked + .input--switch{
	span{
		&:first-child{
			color: $color__font--light;
		}
		&:last-child{
			color: inherit;
		}
	}
	&:before{
		left: 0;
	}
}
input[type="checkbox"]:hover + .input--switch{
	background-color: darken($color__module__bg-2, 6);
	/*&:before{
		background-color: darken($color__branding, 10);
	}*/
}
.input--select{
	position: relative;
	background-color: $color__gray--light;
	@include vendor(border-radius, 2px);
	&:after{
    	@extend %icon;
    	content: $icon-chevron-down;
    	position: absolute;
    	right: 12px;
    	top: 12px;
    	line-height: 20px;
    	color: lighten($color__gray--medium, 20);
    }
}
select{
	max-width: 100%;
	-webkit-appearance:none;
    -moz-appearance:none;
    -moz-appearance:window;
    border: none;
    background-color: $color__gray--light;
    padding: 12px;
    &:hover{
		background-color: darken($color__module__bg-2, 6);
	}
}

.button--radio{
	display:inline-block;
	width: 50%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	line-height: 18px;
	input[type="radio"]{
		@include opacity(0);
		width: 70px;
		margin-right: -74px;
	}
	label{
		padding: 12px 0;
		width: 100%;
		background-color:  $color__gray--light;
		color: lighten($color__gray--medium, 20);
		border-radius: 2px;
		font-size: 15px;
		@include animation(0.3s);
	}
	&:hover{
		label{
			background-color: darken($color__gray--light, 6);
		}
	}
	&:nth-last-child(2){
		padding-right: 6px;
	}
	&:last-child{
		padding-left: 6px;
	}
	input[type="radio"]:checked + label{
		background-color:  $color__branding;
		color: $color__font--light;
	}

}

button{
	color: $color__font--light;
	background-color: $color__branding;
	border-radius: 2px;
	border: none;
	padding: 8px 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 24px;
	-webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include animation(0.2s);
    &:hover{
    	background-color: darken($color__branding, 10);
    }
}
.button__wrapper{
	width: 100%;
	position: relative;
	padding-left: 60px;
}
.button--back{
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 0;
	text-align: center;
	&:before{
		@extend %icon;
		content: $icon-arrow-left;
		font-size: 24px;
		position: relative;
		top: 4px;
	}
}
.button--forward{
	width: 100%;
	text-transform: uppercase;
	padding: 8px 0;
	text-align: center;
	&:after{
		@extend %icon;
		content: $icon-arrow-right;
		font-size: 24px;
		margin-left: 6px;
		position: relative;
		top: 4px;
		right: 0;
		@include animation(0.2s);
	}
	&:hover{
		&:after{
			right: -4px;
		}
	}
}