/*------------------------------------*\
    MAIN
\*------------------------------------*/
/**
* Main styling!
*/

// At the top of the page, with the logo
.header{
	max-width: 400px;
	margin: 0 auto;
	padding-top: 20px;
	img{
		width: 240px;
	}
}

// Content
// I called it page because it's the one that is going to change throughout the app
// so if you need to add partials, you would import them here.
.page{
	max-width: 400px;
	margin: 0 auto;
	// What is being displayed now?
	.page__title{
		background-color: $color__branding;
		color: $color__font--light;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		padding: 20px 40px;
		.title__number{
			display: inline-block;
			font-size: 24px;
			margin-right: 12px;
			vertical-align: middle;
		}
		.title__text{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.page__content{
		padding: 20px 40px 40px 40px;
		background-color: $color__module__bg;
		& > input[type="text"],
		& > input[type="email"],
		& > input[type="password"],
		& > button{
			width: 100%;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		+ .page__content{
			margin-top: 40px;
		}
		&.results__list{
			padding: 0;

		}
	}
}

// At the bottom of page, basically only to place logos.
.footer{
	margin-top: 120px;
	text-align: center;
	background-color: $color__module__bg;
	img{
		max-width: 300px;
		@include animation(0.5s);
	}
}
@media only screen and (max-width: 620px) {
	.footer img{
		max-width: 160px;
	}
}

.list-item{
	background-color: $color__module__bg;
	padding: 20px 40px;
	position: relative;
	@include animation-attr(background-color, 0.3s);
	&:nth-child(2n){
		background-color: $color__module__bg-2;
	}
	.list-item__title{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		span{
			display: block;
			&:nth-child(2){
				color: $color__branding;
			}
		}
	}
	.list-item__content{
		//display: none;
		max-height: 0;
		background-color: $color__module__bg;
		margin: 0 -12px;
		padding: 0 12px;;
		font-size: 0.9em;
		overflow-y: hidden;
		@include animation(0.6s);
	}
	&:after{
		@extend %icon;
		@include animation-vendor(transform, 0.5s);
		content: $icon-chevron-down;
		position: absolute;
		right: 30px;
		top: 40px;
		color: lighten($color__gray--medium, 20);
	}
	
	&.selected{
		background-color: $color__gray--medium;
		.list-item__title{
			span:first-child{
				color: $color__module__bg;
			}
		}
		.list-item__content{
			margin-top: 20px;
			height: auto;
			max-height: 800px;
			padding: 12px;
		}
		&:after{
			color: lighten($color__gray--medium, 40);
			@include vendor(transform, rotate(180deg));
		}
	}
}

