/*------------------------------------*\
    MAIN
\*------------------------------------*/
/**
* Main styling!
	<div.header>
		<img />
	</div>
	<div.page>
		<div.page__title></div>
		<div.page__content></div> (there may be more) than one, like in the login screen.
	</div>
	<ul.page__progress></ul> (This one only goes in the evaluation screens!)
	<div.footer></div>

*/

.header--logos{
	background-color: $color__module__bg;
	position: absolute;
	width: 100%;
	margin-bottom: 48px;
	img{
		max-width: 200px;
		@include animation(0.5s);
		vertical-align: middle;
		&:last-child{
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}


// At the top of the page, with the logo
.header{
	max-width: $max-width;
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
	@include animation(0.2s);
	img{
		width: 200px;
		@include animation(0.2s);
	}
	.icon{
		color: $color__module__bg;
		font-size: 32px;
		position: absolute;
		right: 10px;
		top: 50%;
		cursor: pointer;
		&:hover{
			@include opacity(0.8);
		}
	}
}


// Content
// I called it page because it's the one that is going to change throughout the app
// so if you need to add partials, you would import them here.
.page{
	max-width: $max-width;
	margin: 0 auto;
	min-height: 60%;
	// What is being displayed now?
	.page__title{
		background-color: $color__branding;
		color: $color__font--light;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		padding: 20px 60px 20px 40px;
		position: relative;
		.title__number{
			display: inline-block;
			font-size: 24px;
			margin-right: 12px;
			vertical-align: middle;
			position: absolute;
			top: 22%;
		}
		.title__text{
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
		}
		.title__number + .title__text{
			padding-left: 48px;
		}
		.icon{
			color: $color__module__bg;
			font-size: 28px;
			position: absolute;
			right: 20px;
			top: 20px;
			cursor: pointer;
			&:hover{
				@include opacity(0.8);
			}
		}
	}
	.page__content{
		padding: 20px 40px 40px 40px;
		background-color: $color__module__bg;
		& > input[type="text"],
		& > input[type="email"],
		& > input[type="password"],
		& > button{
			width: 100%;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		+ .page__content{
			margin-top: 40px;
		}
		&.results__list{
			padding: 0;

		}
		&:last-child{
			margin-bottom: 120px;
		}
	}
}

.bar--social{
	position: relative;
	background-color: lighten($color__background,10);
	color: $color__font--light;
	padding: 10px 20px;
	.icon{
		font-size: 24px;
		line-height: 24px;
		display: inline-block;
		vertical-align: middle;
	}
	span{
		line-height: 18px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 12px;
		margin-left: 4px;
	}
	a,
	a:visited{
		display: inline-block;
		color: $color__font--light;
		text-decoration: none;
	}
	a:last-child{
		position: absolute;
		right: 20px;
		top: 10px;
	}
}


// At the bottom of page, basically only to place logos.
.footer{
	position: relative;
	padding-top: 20px;
	text-align: left;
	background-color: $color__module__bg;
	img{
		max-width: 240px;
		@include animation(0.5s);
		&:nth-child(3){
			position: absolute;
			right: 0;
			top: 20px;
		}
	}
	.footer__links{
		text-align: center;
		padding-bottom: 20px;
		a, span{
			&:first-child{
				margin-right: 20px;
			}
		}
	}
}

@media only screen and (max-width: 910px) {
	.header--logos{
		position: relative;
	}
	.header{
		padding-top: 0;
	}
}

@media only screen and (max-width: 750px) {
	.header--logos{
		img{
			max-width: 160px;
		}
	}
	.footer img{
		max-width: 160px;
	}
}

@media only screen and (max-width: 590px) {
	.bar--social{
		a:last-child{
			position: static;
		}
	}
}

.overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(51,51,51, 0.6);
	z-index: 20;
}
